<div id="switchboardsidemenu" class="col-3 bodylayout1col1">
  <div class="bodylayout1col1title" id="searchCriteriaTitle">Main Menu</div>
  <hr class="bodycol1break">
  <div class="searchInstructions">Select an item from the options below:</div><br>

  <!-- My Account Info -->
  <div id="myAccount">
    <button type="button" class="btn btn-default button-normal-nomargins" onclick="">My Account (<%= user.email %>)</button>
  </div><br>

  <!-- Sponsor Name(s) -->
  <% if ( userCanReadSponsors ) { %>  <!-- If a user cannot read the sponsors list, hide it and the scholarships list. -->
  <div id="sponsorBlock">
    Sponsor(s): <span id="testText"></span>
    <span id="addSponsor" class="float-right">
      <button type="button" class="btn btn-default button-small" onclick="">Add Sponsor</button>&nbsp;
    </span>
    <div id="filterSponsorNamesInputBlock">
      <select id="filterSponsorNamesInput" class="single-choice" onchange="gotoSponsorDetails(this.value)"></select><br>
    </div><br>
  </div>

  <!-- Scholarship(s) -->
  <% if ( userCanReadScholarships ) { %>  <!-- If a user cannot read the sponsors list, hide it and the scholarships list. -->
  <div>
    Scholarship(s):
      <span id="addSponsor" class="float-right"><a id="addScholarship" class="btn btn-default button-small"
        href="/scholarshipAdd/<%= SponsorID %>">Add Scholarship</a>&nbsp;</span>
  </div>
  <span class="searchInstructions">&nbsp;&nbsp;&nbsp;(Filtered to the Sponsor selected above.)</span>
  <div id="filterScholarshipsInputBlock">
    <select id="filterScholarshipsInput" class="single-choice" onchange="gotoScholarshipEdit(this.value)"></select><br>
  </div><br>
  <% } %>
  <% } %>

  <!-- User(s) -->
  <% if ( userCanReadUsers ) { %>  <!-- If a user cannot read the users list, hide it. -->
  <div>
    Users(s):
      <span id="addUser" class="float-right"><a id="addUser" class="btn btn-default button-small"
        href="/userAdd">Add User</a>&nbsp;</span>
  </div>
  <div id="filterUsersInputBlock">
    <select id="filterUsersInput" class="single-choice" onchange="gotoUserEdit(this.value)"></select><br>
  </div><br>
  <% } %>
  
</div>  <!-- End column 1 DIV -->

<script>

  var splRows = <%- JSON.stringify(sponsorsDDL.rows) %>;
  loadSelectOptionsList("filterSponsorNamesInput", "(Not Selected)", 0, splRows, '<%= SponsorID %>');

  // Redirect the user to the Sponsor Details page
  function gotoSponsorDetails(selectedSponsorID) {
    var newURL = '/sponsordetails/' + selectedSponsorID;
    location.href=newURL;
  }

  // Load the Scholarships List into the DDL
  var schRows = <%- JSON.stringify(scholarshipsDDL.rows) %>;
  loadSelectOptionsList("filterScholarshipsInput", "(Not Selected)", 0, schRows, '<%= ScholarshipID %>');

  // Redirect the user to the Scholarship Details page
  function gotoScholarshipEdit(selectedScholarshipID) {
    var newURL = '/scholarshipedit/' + selectedScholarshipID;
    location.href=newURL;
  }

  // Load the Users List into the DDL
  var usrRows = <%- JSON.stringify(usersAllDDL.rows) %>;
  loadSelectOptionsList("filterUsersInput", "(Not Selected)", 0, usrRows, '<%= UserID %>');

  // Redirect the user to the User Details page
  function gotoUserEdit(selectedUserID) {
    var newURL = '/userdetails/' + selectedUserID;
    location.href=newURL;
  }

</script>