<div id="switchboardsidemenu" class="col-3 bodylayout1col1-datamgmt">
  <div class="bodylayout1col1title" id="searchCriteriaTitle">Main Menu</div>
  <hr class="bodycol1break">
  <div class="searchInstructions">Select an item from the options below:</div><br>

  <!-- My Account Info (A placeholder for future enhancements)-->
  <!--
  <div id="myAccount">
    <button type="button" class="btn btn-default button-normal-nomargins" onclick="">My Account (<%= user.email %>)</button>
  </div><br>
-->

<!-- Sponsor Name(s) -->
  <% if ( userCanReadSponsors ) { %>  <!-- If the current user can read the sponsors list, show it and the scholarships list. -->
  <div id="sponsorBlock">
    Sponsors: <span id="testText"></span>
    <% if ( userCanCreateSponsors ) { %>  <!-- If the current user can create sponsors, show the link. -->
    <span class="float-right">
      <span id="addSponsor" class="float-right"><a id="addSponsor" class="btn btn-default button-small"
        href="/switchboard?actionrequested=addsponsor">Add Sponsor</a>&nbsp;</span>
<!--      <button type="button" id="addSponsorLink" class="btn btn-default button-small" onclick="">Add Sponsor</button>&nbsp; -->
    </span>
    <% } %>
    <div id="filterSponsorsInputBlock">
      <select id="filterSponsorsInput" class="single-choice" onchange="gotoSponsorDetails(this.value)"></select><br>
    </div><br>
  </div>

  <!-- Scholarship(s) -->
  <% if ( userCanReadScholarships ) { %>  <!-- If the current user can read the sponsors list, show it and the scholarships list. -->
  <div>
    Scholarships:
    <% if ( userCanCreateScholarships && sponsorID !== '' ) { %>  <!-- If the current user can create scholarships, and a Sponsor is selected, show the link. -->
    <span class="float-right">
      <span class="float-right">
        <a id="addScholarship" class="btn btn-default button-small" 
            href="/switchboard?actionrequested=addscholarship&sponsorid=<%= sponsorID %>">Add Scholarship</a>&nbsp;
      </span>
    </span>
    <% } %>
  </div>
  <span class="searchInstructions">&nbsp;&nbsp;&nbsp;(Filtered to the Sponsor above.)</span>
  <div id="filterScholarshipsInputBlock">
    <select id="filterScholarshipsInput" class="single-choice" onchange="gotoScholarshipDetails(this.value)"></select><br>
  </div><br>
  <% } %>
  <% } %>

  <!-- User(s) -->
  <% if ( userCanReadUsers ) { %>  <!-- If the current user can read the users list, show it. -->
  <div>
    Users:
    <% if ( userCanCreateUsers ) { %>  <!-- If the current user can create users, show the link. -->
      <span id="addUser" class="float-right">
        <a id="addUser" class="btn btn-default button-small"
          href="/switchboard?actionrequested=adduser">Add User</a>&nbsp;</span>
    <% } %>
  </div>
  <div id="filterUsersInputBlock">
    <select id="filterUsersInput" class="single-choice" onchange="gotoUserDetails(this.value)"></select><br>
  </div><br>

  <!-- User Permission(s) -->
  <% if ( userCanReadUserPermissions ) { %>  <!-- If the current user can read the Website User's Permissions list, show it. -->
    <div>
      User Permissions:
      <% if ( userCanCreateUserPermissions && userID !== '' ) { %>  <!-- If the current user can create user permissions, show the link. -->
        <span id="addUserPermission" class="float-right">
          <a id="addUserPermission" class="btn btn-default button-small"
            href="/switchboard?actionrequested=adduserpermission&userid=<%=userID %>">Add User Permission</a>&nbsp;</span>
      <% } %>
    </div>
    <span class="searchInstructions">&nbsp;&nbsp;&nbsp;(Filtered to the User above.)</span>
    <div id="filterUserPermissionsInputBlock">
      <select id="filterUserPermissionsInput" class="single-choice" onchange="gotoUserPermissionDetails(this.value)"></select><br>
    </div><br>
  <% } %>
  <% } %>
  
</div>  <!-- End column 1 DIV -->

<script>

  // Load the allowed Sponsors into the DDL, and lock the DDL if the User only has access to a single Sponsor
  var splRows = <%- JSON.stringify(sponsorsAllowedDDL.rows) %>;
  var splCount = <%- JSON.stringify(sponsorsAllowedDDL.count) %>;
  loadSelectOptionsList("filterSponsorsInput", "(Not Selected)", 0, splRows, '<%= sponsorID %>');
  if ( splCount === 1 ) {
    document.getElementById('filterSponsorsInput').disabled = true;
  }

  // Redirect the user to the Sponsor Details page
  function gotoSponsorDetails(selectedSponsorID) {
    var newURL = '';
    if ( selectedSponsorID == 0 ) {
      newURL = '/switchboard';
    } else {
      newURL = 'switchboard?actionrequested=editsponsor&sponsorid=' + selectedSponsorID;
    }
    location.href=newURL;
  }

  // If a Sponsor is selected, enable the "Add Scholarship" link and load the Scholarships DDL
  var ddlSponsors = document.getElementById("filterSponsorsInput");
  if ( ddlSponsors.value !== '0' ) {
    var schRows = <%- JSON.stringify(scholarshipsAllowedDDL.rows) %>;
    var schCount = <%- JSON.stringify(scholarshipsAllowedDDL.count) %>;
    if ( schCount === 0 ) {
      loadSelectOptionsList("filterScholarshipsInput", "(None)", 0, schRows, '');
    } else {
      loadSelectOptionsList("filterScholarshipsInput", "(Not Selected)", 0, schRows, '');
      if ( '<%= scholarshipID %>' !== '' ) {
        document.getElementById("filterScholarshipsInput").value = '<%= scholarshipID %>';
      };
    };
  } else {
    document.getElementById('filterScholarshipsInput').disabled = true;
  };

  // Redirect the user to the Scholarship Details page
  function gotoScholarshipDetails(selectedScholarshipID) {
    var newURL = '';
    if ( selectedScholarshipID == 0 ) {
      newURL = '/switchboard';
    } else {
      newURL = 'switchboard?actionrequested=editscholarship' +
               '&scholarshipid=' + selectedScholarshipID + 
               '&sponsorid=<%= sponsorID %>';
    }
    location.href=newURL;
  };

  // Load the Users List into the DDL, if the user has permission to use the DDL
  if ( '<%= userCanReadUsers %>' === 'true' ) {
    var usrRows = <%- JSON.stringify(usersAllowedDDL.rows) %>;
    loadSelectOptionsList("filterUsersInput", "(Not Selected)", 0, usrRows, '<%= userID %>');
  };

  // Redirect the user to the Users Details page
  function gotoUserDetails(selectedUserID) {
    var newURL = '';
    if ( selectedUserID == 0 ) {
      newURL = '/switchboard';
    } else {
      newURL = 'switchboard?actionrequested=edituser&userid=' + selectedUserID;
    }
    location.href=newURL;
  };

  // If a User is selected, enable the "Add User Permission" link and load the User Permissions DDL
  var ddlUsers = document.getElementById("filterUsersInput");
  console.log('ddlUsers.value: ' + ddlUsers.value);
  if ( ddlUsers.value !== '0' ) {
    var perRows = <%- JSON.stringify(userPermissionsAllowedDDL.rows) %>;
    var perCount = <%- JSON.stringify(userPermissionsAllowedDDL.count) %>;
    if ( perCount === 0 ) {
      loadSelectOptionsList("filterUserPermissionsInput", "(None)", 0, perRows, '');
    } else {
      loadSelectOptionsList("filterUserPermissionsInput", "(Not Selected)", 0, perRows, '');
      if ( '<%= userPermissionID %>' !== '' ) {
        document.getElementById("filterUserPermissionsInput").value = '<%= userPermissionID %>';
      };
    };
  } else {
    document.getElementById('filterUserPermissionsInput').disabled = true;
  };

  // Redirect the user to the User Permissions Details page
  function gotoUserPermissionDetails(selectedUserPermissionID) {
    var newURL = '';
    if ( selectedUserPermissionID == 0 ) {
      newURL = '/switchboard';
    } else {
      newURL = 'switchboard?actionrequested=edituserpermission' +
               '&userpermissionid=' + selectedUserPermissionID + 
               '&userid=<%= userID %>';
    }
    location.href=newURL;
  };

</script>