<div id="searchPanel" class="search-panel">

    <div class="bodylayout1col1title" id="searchCriteriaTitle">Search Criteria
        <span>
            <button type="button" class="btn btn-default button-small" id="toggleSearchCriteriaPanelBlockButton"
            onclick="toggleBlockShowHide(
                document.querySelector('#searchPanelCriteriaBlockIcon'),
                document.querySelector('#searchPanelCriteriaBlock'), '', '',
                'fa-angle-double-up','fa-angle-double-down')">
                <i id="searchPanelCriteriaBlockIcon" class="fas fa-angle-double-up expand-filter chevrons"></i>
            </button>
        </span>
    </div>

    <div id="searchPanelCriteriaBlock" class="search-panel-criteria-block">

        <hr class="bodycol1break">
        <div class="search-instructions">Enter criteria below and click "search".</div><br>

        <form action="/search/scholarships" method="POST" id="scholarshipSearchCriteria" name="scholarshipSearchCriteria"
            class="search-panel-criteria-elements">

            <!-- Hidden values for post form submittal -->
            <input type="hidden" id="showAllScholarshipsFlag" name="showAllScholarshipsFlag">

            <!-- Field(s) of Study -->
            Field of Study: <button type="button" class="btn btn-default button-small"
                onclick="toggleBlockShowHide(
                    document.querySelector('#filterFieldOfStudyIcon'),
                    document.querySelector('#filterFieldOfStudyInputBlock'),
                    document.querySelector('#filterFieldOfStudyInput'), '',
                    'fa-chevron-up', 'fa-chevron-down')">
                <i id="filterFieldOfStudyIcon" class="fas fa-chevron-down expand-filter chevrons"></i>
            </button><br>
            <div id="filterFieldOfStudyInputBlock" class="filter-input-block">
                <div class="search-instructions">&nbsp;&nbsp;&nbsp;(Press [ctrl] to select multiples.)</div>
                <select id="filterFieldOfStudyInput" name="filterFieldOfStudyInput" class="filter_select" multiple></select><br>
            </div>

    <!-- Sponsor Name(s) -->
    Sponsor: <button type="button" class="btn btn-default button-small"
        onclick="toggleBlockShowHide(
            document.querySelector('#filterSponsorNamesIcon'),
            document.querySelector('#filterSponsorNamesInputBlock'),
            document.querySelector('#filterSponsorNamesInput'), '',
            'fa-chevron-up', 'fa-chevron-down')">
        <i id="filterSponsorNamesIcon" class="fas fa-chevron-down expand-filter chevrons"></i>
    </button><br>
    <div id="filterSponsorNamesInputBlock" class="filter-input-block">
        <div class="search-instructions">&nbsp;&nbsp;&nbsp;(Press [ctrl] to select multiples.)</div>
        <select id="filterSponsorNamesInput" name="filterSponsorNamesInput" class="filter_select" multiple></select><br>
    </div>

    <!-- Age -->
        Age: <button type="button" class="btn btn-default button-small"
        onclick="toggleBlockShowHide(
            document.querySelector('#filterAgeIcon'),
            document.querySelector('#filterAgeInputBlock'),
            document.querySelector('#filterAgeInput'), '',
            'fa-chevron-up', 'fa-chevron-down')">
        <i id="filterAgeIcon" class="fas fa-chevron-down expand-filter chevrons"></i>
    </button><br>
    <div id="filterAgeInputBlock" class="filter-input-block">
<!--        <div class="search-instructions">(Enter an age between 16 and 99)</div>    -->
        <span id="filterAgeInputError"></span>
        <input type="text" id="filterAgeInput" name="filterAgeInput" class="filter-input filter_textbox" placeholder="##"><br>
    </div>

    <!-- Citizenship -->
    Citizenship: <button type="button" class="btn btn-default button-small"
        onclick="toggleBlockShowHide(
            document.querySelector('#filterCitizenshipIcon'),
            document.querySelector('#filterCitizenshipInputBlock'),
            document.querySelector('#filterCitizenshipInput'), '',
            'fa-chevron-up', 'fa-chevron-down')">
        <i id="filterCitizenshipIcon" class="fas fa-chevron-down expand-filter chevrons"></i>
    </button><br>
    <div id="filterCitizenshipInputBlock" class="filter-input-block">
        <select id="filterCitizenshipInput" name="filterCitizenshipInput" class="filter_select"></select><br>
    </div>

    <!-- Year of Need / Desired Program -->
    Year of Need / Desired Program: <button type="button" class="btn btn-default button-small"
        onclick="toggleBlockShowHide(
            document.querySelector('#filterYearOfNeedIcon'),
            document.querySelector('#filterYearOfNeedInputBlock'),
            document.querySelector('#filterYearOfNeedInput'), '',
            'fa-chevron-up', 'fa-chevron-down')">
        <i id="filterYearOfNeedIcon" class="fas fa-chevron-down expand-filter chevrons"></i>
    </button><br>
    <div id="filterYearOfNeedInputBlock" class="filter-input-block">
        <select id="filterYearOfNeedInput" name="filterYearOfNeedInput" class="filter_select"></select><br>
    </div>  

    <!-- Keyword(s) -->
    Keywords: <button type="button" class="btn btn-default button-small"
        onclick="toggleBlockShowHide(
            document.querySelector('#filterKeywordsIcon'),
            document.querySelector('#filterKeywordsInputBlock'),
            document.querySelector('#filterKeywordsInput'), '',
            'fa-chevron-up', 'fa-chevron-down')">
        <i id="filterKeywordsIcon" class="fas fa-chevron-down expand-filter chevrons"></i>
    </button><br>
    <div id="filterKeywordsInputBlock" class="filter-input-block">
        <div class="search-instructions">(Separate words/phrases with commas)</div>
        <input type="text" id="filterKeywordsInput" name="filterKeywordsInput" class="filter-input filter_textbox"><br>
    </div>

<!-- "Advanced Search" section -->
<span onclick="toggleBlockShowHide(
    document.querySelector('#advancedSearchIcon'),
    document.querySelector('#advancedSearchInputBlock'), '', '',
    'fa-angle-double-up','fa-angle-double-down')"
    class="textbold">Advanced Search: </span>
<span>
    <button type="button" class="btn btn-default button-small"
        onclick="toggleBlockShowHide(
            document.querySelector('#advancedSearchIcon'),
            document.querySelector('#advancedSearchInputBlock'), '', '',
            'fa-angle-double-up','fa-angle-double-down')">
        <i id="advancedSearchIcon" class="fas fa-angle-double-down expand-filter chevrons"></i>
    </button>
</span><br>

<div id="advancedSearchInputBlock" class="filter-input-block advanced-search-criteria">

    <!-- Gender -->
    Female Applicant: <button type="button" class="btn btn-default button-small"
        onclick="toggleBlockShowHide(
            document.querySelector('#filterGenderIcon'),
            document.querySelector('#filterGenderInputBlock'),
            document.querySelector('#filterGenderInput'), '',
            'fa-chevron-up', 'fa-chevron-down')">
        <i id="filterGenderIcon" class="fas fa-chevron-down expand-filter chevrons"></i>
    </button><br>
    <div id="filterGenderInputBlock" class="filter-input-block">
        <select id="filterGenderInput" name="filterGenderInput" class="filter_select"></select><br>
    </div>

    <!-- Enrollment Status -->
    College Enrollment Status: <button type="button" class="btn btn-default button-small"
        onclick="toggleBlockShowHide(
            document.querySelector('#filterEnrollmentStatusIcon'),
            document.querySelector('#filterEnrollmentStatusInputBlock'),
            document.querySelector('#filterEnrollmentStatusInput'), '',
            'fa-chevron-up', 'fa-chevron-down')">
        <i id="filterEnrollmentStatusIcon" class="fas fa-chevron-down expand-filter chevrons"></i>
    </button><br>
    <div id="filterEnrollmentStatusInputBlock" class="filter-input-block">
        <select id="filterEnrollmentStatusInput" name="filterEnrollmentStatusInput" class="filter_select"></select><br>
    </div>

    <!-- GPA -->
    GPA: <button type="button" class="btn btn-default button-small"
        onclick="toggleBlockShowHide(
            document.querySelector('#filterGPAIcon'),
            document.querySelector('#filterGPAInputBlock'),
            document.querySelector('#filterGPAInput'), '',
            'fa-chevron-up', 'fa-chevron-down')">
        <i id="filterGPAIcon" class="fas fa-chevron-down expand-filter chevrons"></i>
    </button><br>
    <div id="filterGPAInputBlock" class="filter-input-block">
        <div class="search-instructions">(Enter a number between 0.00 and 4.00)</div>
        <span id="filterGPAInputError"></span>
        <input type="text" id="filterGPAInput" name="filterGPAInput" class="filter-input filter_textbox"><br>
    </div>

    <!-- U.S. Military Service -->
    U.S. Military Service: <button type="button" class="btn btn-default button-small"
        onclick="toggleBlockShowHide(
            document.querySelector('#filterUSMilitaryServiceIcon'),
            document.querySelector('#filterUSMilitaryServiceInputBlock'),
            document.querySelector('#filterUSMilitaryServiceInput'), '',
            'fa-chevron-up', 'fa-chevron-down')">
        <i id="filterUSMilitaryServiceIcon" class="fas fa-chevron-down expand-filter chevrons"></i>
    </button><br>
    <div id="filterUSMilitaryServiceInputBlock" class="filter-input-block">
        <select id="filterUSMilitaryServiceInput" name="filterUSMilitaryServiceInput" class="filter_select"></select><br>
    </div>

    <!-- FAA Pilot Airman Certificate -->
    FAA Pilot Airman Certificate<br>
    <span class="search-instructions">&nbsp;&nbsp;&nbsp;(Interested In / Currently Obtaining)</span>
    <button type="button" class="btn btn-default button-small"
        onclick="toggleBlockShowHide(
            document.querySelector('#filterFAAPilotCertificateIcon'),
            document.querySelector('#filterFAAPilotCertificateInputBlock'),
            document.querySelector('#filterFAAPilotCertificateInput'), '',
            'fa-chevron-up', 'fa-chevron-down')">
        <i id="filterFAAPilotCertificateIcon" class="fas fa-chevron-down expand-filter chevrons"></i>
    </button><br>
    <div id="filterFAAPilotCertificateInputBlock" class="filter-input-block">
        <div class="search-instructions">&nbsp;&nbsp;&nbsp;(Press [ctrl] to select multiples.)</div>
        <select id="filterFAAPilotCertificateInput" name="filterFAAPilotCertificateInput" class="filter_select" multiple></select><br>
    </div>

    <!-- FAA Pilot Airman Rating -->
    FAA Pilot Airman Rating<br>
    <span class="search-instructions">&nbsp;&nbsp;&nbsp;(Interested In / Currently Obtaining)</span>
    <button type="button" class="btn btn-default button-small"
        onclick="toggleBlockShowHide(
            document.querySelector('#filterFAAPilotRatingIcon'),
            document.querySelector('#filterFAAPilotRatingInputBlock'),
            document.querySelector('#filterFAAPilotRatingInput'), '',
            'fa-chevron-up', 'fa-chevron-down')">
        <i id="filterFAAPilotRatingIcon" class="fas fa-chevron-down expand-filter chevrons"></i>
    </button><br>
    <div id="filterFAAPilotRatingInputBlock" class="filter-input-block">
        <div class="search-instructions">&nbsp;&nbsp;&nbsp;(Press [ctrl] to select multiples.)</div>
        <select id="filterFAAPilotRatingInput" name="filterFAAPilotRatingInput" class="filter_select" multiple></select><br>
    </div>

    <!-- FAA Mechanic Airman Certificate/Rating -->
    FAA Mechanic Airman Cert./Ratings<br>
    <span class="search-instructions">&nbsp;&nbsp;&nbsp;(Interested In / Currently Obtaining)</span>
    <button type="button" class="btn btn-default button-small"
        onclick="toggleBlockShowHide(
            document.querySelector('#filterFAAMechanicCertRatingIcon'),
            document.querySelector('#filterFAAMechanicCertRatingInputBlock'),
            document.querySelector('#filterFAAMechanicCertRatingInput'), '',
            'fa-chevron-up', 'fa-chevron-down')">
        <i id="filterFAAMechanicCertRatingIcon" class="fas fa-chevron-down expand-filter chevrons"></i>
    </button><br>
    <div id="filterFAAMechanicCertRatingInputBlock" class="filter-input-block">
        <div class="search-instructions">&nbsp;&nbsp;&nbsp;(Press [ctrl] to select multiples.)</div>
        <select id="filterFAAMechanicCertRatingInput" name="filterFAAMechanicCertRatingInput" class="filter_select" multiple></select><br>
    </div>

    </div>    <!-- end "Advanced Search" section -->

    </form> <!-- End search criteria form -->

    <div style="text-align:left">
        <button type="submit" class="btn btn-default button-search" onclick="showMatchingScholarships();">
            <img src="/img/imgMagnifyingGlass.png" alt="Magnifying Glass" class="img-responsive button-icon-magglass">
            Search
        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-default button-search" onclick="showAllScholarships();">
            <img src="/img/imgRefresh.png" alt="arrow circling clockwise" class="img-responsive button-icon-refresh">
            Reset Search
        </button>
    </div>

    </div>  <!-- Search Criteria Block -->

</div>  <!-- Search Panel -->

<script>

    // Set the browser tab name (i.e., title)
    document.title = "Future of Aviation - Scholarship Search";

    // Set hidden controls' default values
    document.getElementById('showAllScholarshipsFlag').value = ""

    // Load the Field of Study options into the DDL and set any selected values (if search result)
    var fosRows = <%- JSON.stringify(fieldOfStudyCategoriesDDL.rows) %>;
    loadSelectOptionsList("filterFieldOfStudyInput", "(Not Selected)", 0, fosRows);
    var fieldOfStudyCategoriesSelected = "<%- previousValues.filterFieldOfStudyInput %>";
    console.log("Previous Field of Study values (original): " + fieldOfStudyCategoriesSelected);
    if ( fieldOfStudyCategoriesSelected.length !== 0 && fieldOfStudyCategoriesSelected !== '0') {
        fieldOfStudyCategoriesSelected = '|' + fieldOfStudyCategoriesSelected.replace(',','|') + '|';
        console.log("Previous Field of Study values (formatted): " + fieldOfStudyCategoriesSelected);
        loadSelectedValues("filterFieldOfStudyInput", fieldOfStudyCategoriesSelected, "|");
        toggleBlockShowHide(
            document.querySelector('#filterFieldOfStudyIcon'),
            document.querySelector('#filterFieldOfStudyInputBlock'),
            document.querySelector('#filterFieldOfStudyInput'), '',
            'fa-chevron-up', 'fa-chevron-down');
    };

    // Load the Sponsor List into the DDL and set any selected values (if search result)
    var splRows = <%- JSON.stringify(sponsorsActiveDDL.rows) %>;
    loadSelectOptionsList("filterSponsorNamesInput", "(Not Selected)", 0, splRows);
    var sponsorNamesSelected = "<%- previousValues.filterSponsorNamesInput %>";
    console.log("Previous Sponsor values (original): " + sponsorNamesSelected);
    if ( sponsorNamesSelected.length !== 0 && sponsorNamesSelected !== '0') {
        sponsorNamesSelected = '|' + sponsorNamesSelected.replace(',','|') + '|';
        console.log("Previous Sponsor values (formatted): " + sponsorNamesSelected);
        loadSelectedValues("filterSponsorNamesInput", sponsorNamesSelected, "|");
        toggleBlockShowHide(
            document.querySelector('#filterSponsorNamesIcon'),
            document.querySelector('#filterSponsorNamesInputBlock'),
            document.querySelector('#filterSponsorNamesInput'), '',
            'fa-chevron-up', 'fa-chevron-down');
    };

    // Load any previously-entered Age (if search result)
    var ageSelected = "<%- previousValues.filterAgeInput %>";
    console.log("Previous Age values: " + ageSelected);
    if ( ageSelected.length !== 0 ) {
        document.getElementById('filterAgeInput').value = ageSelected;
        toggleBlockShowHide(
            document.querySelector('#filterAgeIcon'),
            document.querySelector('#filterAgeInputBlock'),
            document.querySelector('#filterAgeInput'), '',
            'fa-chevron-up', 'fa-chevron-down');
    };

    // Load the Citizenship options into the DDL and set any selected value (if search result)
    var citRows = <%- JSON.stringify(citizenshipCategoriesDDL.rows) %>;
    loadSelectOptionsList("filterCitizenshipInput", "(Not Selected)", 0, citRows);
    var citizenshipsSelected = "<%- previousValues.filterCitizenshipInput %>";
    console.log("Previous Citizenship values (original): " + citizenshipsSelected);
    if ( citizenshipsSelected.length !== 0 && citizenshipsSelected !== '0') {
        citizenshipsSelected = '|' + citizenshipsSelected.replace(',','|') + '|';
        console.log("Previous Citizenship values (formatted): " + citizenshipsSelected);
        loadSelectedValues("filterCitizenshipInput", citizenshipsSelected, "|");
        toggleBlockShowHide(
            document.querySelector('#filterCitizenshipIcon'),
            document.querySelector('#filterCitizenshipInputBlock'),
            document.querySelector('#filterCitizenshipInput'), '',
            'fa-chevron-up', 'fa-chevron-down');
    };

    // Load the Year of Need options into the DDL and set any selected value (if search result)
    var yonRows = <%- JSON.stringify(yearOfNeedCategoriesDDL.rows) %>;
    loadSelectOptionsList("filterYearOfNeedInput", "(Not Selected)", 0, yonRows);
    var yearOfNeedSelected = "<%- previousValues.filterYearOfNeedInput %>";
    console.log("Previous Year of Need values (original): " + yearOfNeedSelected);
    if ( yearOfNeedSelected.length !== 0 && yearOfNeedSelected !== '0') {
        yearOfNeedSelected = '|' + yearOfNeedSelected.replace(',','|') + '|';
        console.log("Previous Year of Need values (formatted): " + yearOfNeedSelected);
        loadSelectedValues("filterYearOfNeedInput", yearOfNeedSelected, "|");
        toggleBlockShowHide(
            document.querySelector('#filterYearOfNeedIcon'),
            document.querySelector('#filterYearOfNeedInputBlock'),
            document.querySelector('#filterYearOfNeedInput'), '',
            'fa-chevron-up', 'fa-chevron-down');
    };

    // Load any keywords (if search result)
    var keywordsSelected = "<%- previousValues.filterKeywordsInput %>";
    console.log("Previous Keywords values (original): " + keywordsSelected);
    if ( keywordsSelected.length !== 0 ) {
        document.getElementById('filterKeywordsInput').value = keywordsSelected;
        toggleBlockShowHide(
            document.querySelector('#filterKeywordsIcon'),
            document.querySelector('#filterKeywordsInputBlock'),
            document.querySelector('#filterKeywordsInput'), '',
            'fa-chevron-up', 'fa-chevron-down');
    } else {
        document.getElementById('filterKeywordsInput').value = '';
    };

    // Load the "Female Applicants Only?" options into the DDL
    var genRows = <%- JSON.stringify(genderCategoriesDDL.rows) %>;
    loadSelectOptionsList("filterGenderInput", "(Not Selected)", 0, genRows);
    var femaleOnlySelected = "<%- previousValues.filterGenderInput %>";
    console.log("Previous Female Only values (original): " + femaleOnlySelected);
    if ( femaleOnlySelected.length !== 0 && femaleOnlySelected !== '0') {
        femaleOnlySelected = '|' + femaleOnlySelected.replace(',','|') + '|';
        console.log("Previous Female Only values (formatted): " + femaleOnlySelected);
        loadSelectedValues("filterGenderInput", femaleOnlySelected, "|");
        toggleBlockShowHide(
            document.querySelector('#filterGenderIcon'),
            document.querySelector('#filterGenderInputBlock'),
            document.querySelector('#filterGenderInput'), '',
            'fa-chevron-up', 'fa-chevron-down');
        toggleBlockShowHide(
            document.querySelector('#advancedSearchIcon'),
            document.querySelector('#advancedSearchInputBlock'), '', 'show',
            'fa-angle-double-up','fa-angle-double-down');
    };

    // Load the Enrollment Status options into the DDL
    var esRows = <%- JSON.stringify(enrollmentStatusCategoriesDDL.rows) %>;
    loadSelectOptionsList("filterEnrollmentStatusInput", "(Not Selected)", 0, esRows);
    var enrollmentStatusSelected = "<%- previousValues.filterEnrollmentStatusInput %>";
    console.log("Previous Enrollment Status values (original): " + enrollmentStatusSelected);
    if ( enrollmentStatusSelected.length !== 0 && enrollmentStatusSelected !== '0') {
        enrollmentStatusSelected = '|' + enrollmentStatusSelected.replace(',','|') + '|';
        console.log("Previous Enrollment Status values (formatted): " + enrollmentStatusSelected);
        loadSelectedValues("filterEnrollmentStatusInput", enrollmentStatusSelected, "|");
        toggleBlockShowHide(
            document.querySelector('#filterEnrollmentStatusIcon'),
            document.querySelector('#filterEnrollmentStatusInputBlock'),
            document.querySelector('#filterEnrollmentStatusInput'), '',
            'fa-chevron-up', 'fa-chevron-down');
        toggleBlockShowHide(
            document.querySelector('#advancedSearchIcon'),
            document.querySelector('#advancedSearchInputBlock'), '', 'show',
            'fa-angle-double-up','fa-angle-double-down');
    };

    // Load any previously-entered GPA (if search result)
    var gpaSelected = "<%- previousValues.filterGPAInput %>";
    console.log("Previous GPA values: " + gpaSelected);
    if ( gpaSelected.length !== 0 ) {
        document.getElementById('filterGPAInput').value = gpaSelected;
        toggleBlockShowHide(
            document.querySelector('#filterGPAIcon'),
            document.querySelector('#filterGPAInputBlock'),
            document.querySelector('#filterGPAInput'), '',
            'fa-chevron-up', 'fa-chevron-down');
        toggleBlockShowHide(
            document.querySelector('#advancedSearchIcon'),
            document.querySelector('#advancedSearchInputBlock'), '', 'show',
            'fa-angle-double-up','fa-angle-double-down');
    };

    // Load the Military Service Type options into the DDL
    var msRows = <%- JSON.stringify(militaryServiceCategoriesDDL.rows) %>;
    loadSelectOptionsList("filterUSMilitaryServiceInput", "(Not Selected)", 0, msRows);
    var militaryServiceSelected = "<%- previousValues.filterUSMilitaryServiceInput %>";
    console.log("Previous Military Service values (original): " + militaryServiceSelected);
    if ( militaryServiceSelected.length !== 0 && militaryServiceSelected !== '0') {
        militaryServiceSelected = '|' + militaryServiceSelected.replace(',','|') + '|';
        console.log("Previous Military Service values (formatted): " + militaryServiceSelected);
        loadSelectedValues("filterUSMilitaryServiceInput", militaryServiceSelected, "|");
        toggleBlockShowHide(
            document.querySelector('#filterUSMilitaryServiceIcon'),
            document.querySelector('#filterUSMilitaryServiceInputBlock'),
            document.querySelector('#filterUSMilitaryServiceInput'), '',
            'fa-chevron-up', 'fa-chevron-down');
        toggleBlockShowHide(
            document.querySelector('#advancedSearchIcon'),
            document.querySelector('#advancedSearchInputBlock'), '', 'show',
            'fa-angle-double-up','fa-angle-double-down');
    };

    // Load the FAA Pilot Certificate options into the DDL
    var fpcRows = <%- JSON.stringify(faaPilotCertificateCategoriesDDL.rows) %>;
    loadSelectOptionsList("filterFAAPilotCertificateInput", "(Not Selected)", 0, fpcRows);
    var faaPilotCertificateCategoriesSelected = "<%- previousValues.filterFAAPilotCertificateInput %>";
    console.log("Previous FAA Pilot Certificate values (original): " + faaPilotCertificateCategoriesSelected);
    if ( faaPilotCertificateCategoriesSelected.length !== 0 && faaPilotCertificateCategoriesSelected !== '0') {
        faaPilotCertificateCategoriesSelected = '|' + faaPilotCertificateCategoriesSelected.replace(',','|') + '|';
        console.log("Previous FAA Pilot Certificate values (formatted): " + faaPilotCertificateCategoriesSelected);
        loadSelectedValues("filterFAAPilotCertificateInput", faaPilotCertificateCategoriesSelected, "|");
        toggleBlockShowHide(
            document.querySelector('#filterFAAPilotCertificateIcon'),
            document.querySelector('#filterFAAPilotCertificateInputBlock'),
            document.querySelector('#filterFAAPilotCertificateInput'), '',
            'fa-chevron-up', 'fa-chevron-down');
        toggleBlockShowHide(
            document.querySelector('#advancedSearchIcon'),
            document.querySelector('#advancedSearchInputBlock'), '', 'show',
            'fa-angle-double-up','fa-angle-double-down');
    };

    // Load the FAA Pilot Rating options into the DDL
    var fprRows = <%- JSON.stringify(faaPilotRatingCategoriesDDL.rows) %>;
    loadSelectOptionsList("filterFAAPilotRatingInput", "(Not Selected)", 0, fprRows);
    var faaPilotRatingCategoriesSelected = "<%- previousValues.filterFAAPilotRatingInput %>";
    console.log("Previous FAA Pilot Rating values (original): " + faaPilotRatingCategoriesSelected);
    if ( faaPilotRatingCategoriesSelected.length !== 0 && faaPilotRatingCategoriesSelected !== '0') {
        faaPilotRatingCategoriesSelected = '|' + faaPilotRatingCategoriesSelected.replace(',','|') + '|';
        console.log("Previous FAA Pilot Rating values (formatted): " + faaPilotRatingCategoriesSelected);
        loadSelectedValues("filterFAAPilotRatingInput", faaPilotRatingCategoriesSelected, "|");
        toggleBlockShowHide(
            document.querySelector('#filterFAAPilotRatingIcon'),
            document.querySelector('#filterFAAPilotRatingInputBlock'),
            document.querySelector('#filterFAAPilotRatingInput'), '',
            'fa-chevron-up', 'fa-chevron-down');
        toggleBlockShowHide(
            document.querySelector('#advancedSearchIcon'),
            document.querySelector('#advancedSearchInputBlock'), '', 'show',
            'fa-angle-double-up','fa-angle-double-down');
    };

    // Load the FAA Mechanic Certificate options into the DDL
    var fmcRows = <%- JSON.stringify(faaMechanicCertificateCategoriesDDL.rows) %>;
    loadSelectOptionsList("filterFAAMechanicCertRatingInput", "(Not Selected)", 0, fmcRows);
    var faaMechanicCertificateCategoriesSelected = "<%- previousValues.filterFAAMechanicCertRatingInput %>";
    console.log("Previous FAA Mechanic Certificate values (original): " + faaMechanicCertificateCategoriesSelected);
    if ( faaMechanicCertificateCategoriesSelected.length !== 0 && faaMechanicCertificateCategoriesSelected !== '0') {
        faaMechanicCertificateCategoriesSelected = '|' + faaMechanicCertificateCategoriesSelected.replace(',','|') + '|';
        console.log("Previous FAA Mechanic Certificate values (formatted): " + faaMechanicCertificateCategoriesSelected);
        loadSelectedValues("filterFAAMechanicCertRatingInput", faaMechanicCertificateCategoriesSelected, "|");
        toggleBlockShowHide(
            document.querySelector('#filterFAAMechanicCertRatingIcon'),
            document.querySelector('#filterFAAMechanicCertRatingInputBlock'),
            document.querySelector('#filterFAAMechanicCertRatingInput'), '',
            'fa-chevron-up', 'fa-chevron-down');
        toggleBlockShowHide(
            document.querySelector('#advancedSearchIcon'),
            document.querySelector('#advancedSearchInputBlock'), '', 'show',
            'fa-angle-double-up','fa-angle-double-down');
    };

    /////////////////////////////////////////////////////////////////////
    // Process the "show all scholarships" precheck and submittal
    /////////////////////////////////////////////////////////////////////
    function showAllScholarships() {

        // set any status flags and submit the form
//        alert('Show all scholarships');
        document.getElementById('showAllScholarshipsFlag').value = "yes";
        document.getElementById('scholarshipSearchCriteria').submit();

    };

    /////////////////////////////////////////////////////////////////////
    // Process the "show matching scholarships" precheck and submittal
    /////////////////////////////////////////////////////////////////////
    function showMatchingScholarships() {

        // validate entries before submittal
        if ( validateScholarshipSearchCriteria() == 'validated' ) {  // submit for search
            document.getElementById('showAllScholarshipsFlag').value = "";
            document.getElementById('scholarshipSearchCriteria').submit();
        } else if ( validateScholarshipSearchCriteria() == 'none' ) {  // submit for "Reset Search"
            document.getElementById('showAllScholarshipsFlag').value = "yes";
            document.getElementById('scholarshipSearchCriteria').submit();
        }; // else errors occurred, do not submit

    };

</script>