<div class="col-9 bodylayout1col2-datamgmt" id="scholarshipsearchresultscolumn">
    <span class="bodylayout1col2title">
      <label class="data-mgmt-col-title" id="sponsorInstructions"></label></span><br>
    <hr class="bodycol2break">
    <label class="data-mgmt-label-instruction">&nbsp;&nbsp;&nbsp;<span style="color: red;">*</span> indicates a required entry</label><br><br>

    <% if ( statusMessage !== '' ) { %>
      <div>
        <label id="statusMessage" class="form-status"><%= statusMessage %></label>
      </div>
      <% } %>
  
    <!-- TAB control -->
    <div class="tab">
      <button class="tablinks" onclick="openSponsorTab(event, 'tabEdit')" id="btnTabEdit">Edit</button>
      <button class="tablinks" onclick="openSponsorTab(event, 'tabPreview')">Preview</button>
    </div>

    <!-- Data editing container (Tab #1) -->
    <div id="tabEdit" class="tabcontent">
    <form action="/switchboard/sponsoradd" method="POST" id="sponsorDataEdit">

      <!-- If the form context is "Manage Sponsor" then provide the sponsorID for reference -->
      <input type="hidden" id="sponsorIDToUpdate" name="sponsorIDToUpdate">

      <!-- Sponsor Is "Featured" -->
      <div class="data-mgmt-row">
        <!-- <div class="row"> -->
          <div class="col-3 data-mgmt-label-div">
            <label for="sponsorIsFeatured" class="data-mgmt-label">Sponsor Is Featured?</label>
          </div>
          <div class="col-1 data-mgmt-required-div">
            <label for="sponsorIsFeatured" class="data-mgmt-label-required"></label>
          </div>
          <div class="col-8 data-mgmt-value-div">
            <input type="checkbox" id="sponsorIsFeatured" name="sponsorIsFeatured"
              class="data-mgmt-checkbox" value="SponsorIsFeatured" onchange="updatePreview();"><br>
            <span class="data-mgmt-span-error" id="sponsorIsFeaturedErrors"></span>
          </div>
        <!-- </div> -->
      </div><br>
      
      <!-- Sponsor Status -->
      <div class="data-mgmt-row">
        <!-- <div class="row"> -->
          <div class="col-3 data-mgmt-label-div">
            <label for="sponsorStatus" class="data-mgmt-label">Sponsor Active Status:</label>
          </div>
          <div class="col-1 data-mgmt-required-div">
            <label for="sponsorStatus" class="data-mgmt-label-required">*</label>
          </div>
          <div class="col-8 data-mgmt-value-div">
            <select id="sponsorStatus" name="sponsorStatus" class="data-mgmt-select-single-quarter"></select><br>
            <span class="data-mgmt-span-error" id="sponsorStatusErrors"></span>
          </div>
        <!-- </div> -->
      </div><br>

      <!-- Sponsor Name -->
      <div class="data-mgmt-row">
        <!-- <div class="row"> -->
          <div class="col-3 data-mgmt-label-div">
            <label for="sponsorName" class="data-mgmt-label">Sponsor/Owner Name:</label>
          </div>
          <div class="col-1 data-mgmt-required-div">
            <label for="sponsorName" class="data-mgmt-label-required">*</label>
          </div>
          <div class="col-8 data-mgmt-value-div">
            <textarea id="sponsorName" name="sponsorName" class="data-mgmt-textarea-1line" rows="1" onchange="updatePreview();"></textarea><br>
            <span class="data-mgmt-span-error" id="sponsorNameErrors"></span>
          </div>
        <!-- </div> -->
      </div><br>

      <!-- Sponsor Description -->
      <div class="data-mgmt-row">
        <!-- <div class="row"> -->
          <div class="col-3 data-mgmt-label-div">
            <label for="sponsorDescription" class="data-mgmt-label">Description:</label>
          </div>
          <div class="col-1 data-mgmt-required-div">
            <label for="sponsorDescription" class="data-mgmt-label-required">*</label>
          </div>
          <div class="col-8 data-mgmt-value-div">
            <textarea id="sponsorDescription" name="sponsorDescription" class="data-mgmt-textarea-5lines" onchange="updatePreview();"></textarea><br>
            <span class="data-mgmt-span-error" id="sponsorDescriptionErrors"></span>
          </div>
        <!-- </div> -->
      </div><br>

      <!-- Sponsor Website -->
      <div class="data-mgmt-row">
        <!-- <div class="row"> -->
          <div class="col-3 data-mgmt-label-div">
            <label for="sponsorWebsite" class="data-mgmt-label">Website:</label>
          </div>
          <div class="col-1 data-mgmt-required-div">
            <label for="sponsorWebsite" class="data-mgmt-label-required"></label>
          </div>
          <div class="col-8 data-mgmt-value-div">
            <textarea id="sponsorWebsite" name="sponsorWebsite" class="data-mgmt-textarea-1line" rows="1" onchange="updatePreview();"></textarea><br>
            <span class="data-mgmt-span-error" id="sponsorWebsiteErrors"></span>
          </div>
        <!-- </div> -->
      </div><br>

      <!-- Sponsor Logo -->
      <div class="data-mgmt-row">
        <!-- <div class="row"> -->
          <div class="col-3 data-mgmt-label-div">
            <label for="sponsorLogo" class="data-mgmt-label">Logo:</label>
          </div>
          <div class="col-1 data-mgmt-required-div">
            <label for="sponsorLogo" class="data-mgmt-label-required">*</label>
          </div>
          <div class="col-8 data-mgmt-value-div">
            <textarea id="sponsorLogo" name="sponsorLogo" class="data-mgmt-textarea-1line" rows="1" onchange="updatePreview();"></textarea><br>
            <span class="data-mgmt-span-error" id="sponsorLogoErrors"></span>
          </div>
        <!-- </div> -->
      </div><br>

      <!-- Sponsor Contact First Name -->
      <div class="data-mgmt-row">
        <!-- <div class="row"> -->
          <div class="col-3 data-mgmt-label-div">
            <label for="sponsorContactFName" class="data-mgmt-label">Contact First Name:</label>
          </div>
          <div class="col-1 data-mgmt-required-div">
            <label for="sponsorContactFName" class="data-mgmt-label-required"></label>
          </div>
          <div class="col-8 data-mgmt-value-div">
            <textarea id="sponsorContactFName" name="sponsorContactFName" class="data-mgmt-textarea-1line-third" rows="1" onchange="updatePreview();"></textarea><br>
            <span class="data-mgmt-span-error" id="sponsorContactFNameErrors"></span>
          </div>
        <!-- </div> -->
      </div><br>

      <!-- Sponsor Contact Last Name -->
      <div class="data-mgmt-row">
        <!-- <div class="row"> -->
          <div class="col-3 data-mgmt-label-div">
            <label for="sponsorContactLName" class="data-mgmt-label">Contact Last Name:</label>
          </div>
          <div class="col-1 data-mgmt-required-div">
            <label for="sponsorContactLName" class="data-mgmt-label-required"></label>
          </div>
          <div class="col-8 data-mgmt-value-div">
            <textarea id="sponsorContactLName" name="sponsorContactLName" class="data-mgmt-textarea-1line-third" rows="1" onchange="updatePreview();"></textarea><br>
            <span class="data-mgmt-span-error" id="sponsorContactLNameErrors"></span>
          </div>
        <!-- </div> -->
      </div><br>

      <!-- Sponsor Contact Email -->
      <div class="data-mgmt-row">
        <!-- <div class="row"> -->
          <div class="col-3 data-mgmt-label-div">
            <label for="sponsorContactEmail" class="data-mgmt-label">Contact Email:</label>
          </div>
          <div class="col-1 data-mgmt-required-div">
            <label for="sponsorContactEmail" class="data-mgmt-label-required">*</label>
          </div>
          <div class="col-8 data-mgmt-value-div">
            <textarea id="sponsorContactEmail" name="sponsorContactEmail" class="data-mgmt-textarea-1line-half" rows="1" onchange="updatePreview();"></textarea><br>
            <span class="data-mgmt-span-error" id="sponsorContactEmailErrors"></span>
          </div>
        <!-- </div> -->
      </div><br>

      <!-- Sponsor Contact Telephone -->
      <div class="data-mgmt-row">
        <!-- <div class="row"> -->
          <div class="col-3 data-mgmt-label-div">
            <label for="sponsorContactTelephone" class="data-mgmt-label">Contact Telephone:</label>
          </div>
          <div class="col-1 data-mgmt-required-div">
            <label for="sponsorContactTelephone" class="data-mgmt-label-required"></label>
          </div>
          <div class="col-8 data-mgmt-value-div">
            <textarea id="sponsorContactTelephone" name="sponsorContactTelephone" class="data-mgmt-textarea-1line-third" rows="1" onchange="updatePreview();"></textarea><br>
            <span class="data-mgmt-span-error" id="sponsorContactTelephoneErrors"></span>
          </div>
        <!-- </div> -->
      </div><br>

      <!-- Sponsor Type(s) -->
      <div class="data-mgmt-row">
        <!-- <div class="row"> -->
          <div class="col-3 data-mgmt-label-div">
            <label for="sponsorType" class="data-mgmt-label">Sponsor/Owner Type(s):</label><br>
            <label class="data-mgmt-label-instruction">&nbsp;&nbsp;&nbsp;(Press [ctrl] to select multiples.)</label>
          </div>
          <div class="col-1 data-mgmt-required-div">
            <label for="sponsorType" class="data-mgmt-label-required">*</label>
          </div>
          <div class="col-8 data-mgmt-value-div">
            <select id="sponsorTypes" name="sponsorTypes" class="data-mgmt-select-multiple-half" multiple></select><br>
            <span class="data-mgmt-span-error" id="sponsorTypesErrors"></span>
          </div>
        <!-- </div> -->
      </div><br>

    </form> <!-- End data mgmt form -->

  </div>  <!-- END: Data editing container (Tab #1) --> 

    <!-- Data preview container (Tab #2) -->
    <div id="tabPreview" class="tabcontent"></div>

    <!-- Form controls -->
    <div><br>
      <% if ( actionRequested === 'addsponsor' ) { %>
        <button class="data-mgmt-button" form="sponsorDataEdit" onclick="return validateData();">Add Sponsor</button>
      <% } %>
      <% if ( sponsorID !== '' && userCanDeleteSponsor ) { %>
        <form form action="/switchboard/sponsordelete?_method=DELETE" method="POST" id="sponsorDataDelete">
          <input type="hidden" id="sponsorIDToDelete" name="sponsorIDToDelete" value="<%- sponsorDetails[0].SponsorID %>">
        </form>
      <% } %>
      <% if ( sponsorID !== '' && userCanUpdateSponsor ) { %>
        <button class="data-mgmt-button" form="sponsorDataEdit" onclick="return validateData();">Save Changes</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <% } %>
      <% if ( sponsorID !== '' && userCanDeleteSponsor ) { %>
        <button class="data-mgmt-button" form="sponsorDataDelete" onclick=" return deleteSponsor();">Delete This Sponsor</button>
      <% } %>
    </div>  <!-- END: Form controls -->

    <br><br>
    <hr class="bodycol2break">

<script>

  // Show the "Edit" tab by default
  document.getElementById("btnTabEdit").click();

  /////////////////////////////////////////////////////////////////////////////////////////////
  // Load the DDLs options lists
  /////////////////////////////////////////////////////////////////////////////////////////////

  // Load the Sponsor Statuses
  var sponsorStatusRows = <%- JSON.stringify(sponsorStatusCategories.rows) %>;
  loadSelectOptionsList("sponsorStatus", "(Not Selected)", 0, sponsorStatusRows);

  // Load the Sponsor Types
  var sptRows = <%- JSON.stringify(sponsorTypeCategoriesDDL.rows) %>;
  loadSelectOptionsList("sponsorTypes", "(Not Selected)", 0, sptRows);

  /////////////////////////////////////////////////////////////////////////////////////////////
  // Customize the page based on the context ("Add Sponsor" v. "Manage Sponsor")
  /////////////////////////////////////////////////////////////////////////////////////////////
  <% if ( actionRequested === 'addsponsor' ) { %>  // "Add Sponsor"

    // Set the browser tab name (i.e., title)
    document.title = "Future of Aviation - Add Sponsor";
    // Set the page title
    document.getElementById("pageTitle").innerText = "Switchboard - Add Sponsor";
    // Set the instructions
    document.getElementById('sponsorInstructions').innerText = "Add the information for the new Sponsor below, and click 'Add Sponsor'.";

  <% } else if ( sponsorID !== '' ) { %>  // "Read/Update/Delete Sponsor"

    // Set the browser tab name (i.e., title)
    document.title = "Future of Aviation - Manage Sponsor";
    // Set the page title
    document.getElementById("pageTitle").innerText = "Switchboard - Manage Sponsor";
    // Set the instructions
    document.getElementById('sponsorInstructions').innerText = "Edit the entries below, and click 'Save Changes'.";
    // Set the form submittal configuration
    document.getElementById('sponsorDataEdit').action = "/switchboard/sponsorupdate?_method=PUT";
    document.getElementById('sponsorDataEdit').method = "POST";
    // Set the current values for the Sponsor data elements
    document.getElementById('sponsorIDToUpdate').value = "<%- sponsorDetails[0].SponsorID %>";
    document.getElementById('sponsorIsFeatured').checked = <%- sponsorDetails[0].SponsorIsFeatured %>;
    // Select Status Status
    var sponsorStatus = "<%- sponsorDetails[0].SponsorStatusID %>";
    var sponsorStatusArrTrimmed = sponsorStatus.split('|').slice(1, -1);
    var sponsorStatusSelectObject = document.getElementById('sponsorStatus');
    if ( sponsorStatusArrTrimmed.length !== 0 ) {
      sponsorStatusSelectObject.options[0].selected = '';  // Remove the default 'Not Selected' option
      sponsorStatusArrTrimmed.forEach( function(sponsorStatus) {
        for ( i=0; i < sponsorStatusSelectObject.length; i++ ) {
          if ( sponsorStatusSelectObject.options[i].value === sponsorStatus ) {
            sponsorStatusSelectObject.options[i].selected = 'selected';
          }
        }
      });
    };
    document.getElementById('sponsorName').innerHTML = `<%= sponsorDetails[0].SponsorName %>`;
//    document.getElementById('sponsorNamePreview').innerHTML = `<%= sponsorDetails[0].SponsorName %>`;
    document.getElementById('sponsorDescription').innerHTML = `<%= sponsorDetails[0].SponsorDescription %>`;
//    document.getElementById('sponsorDescriptionPreview').innerHTML = `<%= sponsorDetails[0].SponsorDescription %>`;
    document.getElementById('sponsorWebsite').innerHTML = "<%= sponsorDetails[0].SponsorWebsite %>";
//    document.getElementById('sponsorWebsitePreview').innerHTML = "<%= sponsorDetails[0].SponsorWebsite %>";
//    document.getElementById('sponsorWebsitePreview').href = "<%= sponsorDetails[0].SponsorWebsite %>";
    document.getElementById('sponsorLogo').innerHTML = "<%= sponsorDetails[0].SponsorLogo %>";
//    document.getElementById('sponsorLogoPreview').src = "<%= sponsorDetails[0].SponsorLogo %>";
    document.getElementById('sponsorContactFName').innerHTML = "<%= sponsorDetails[0].SponsorContactFName %>";
    document.getElementById('sponsorContactLName').innerHTML = "<%= sponsorDetails[0].SponsorContactLName %>";
    document.getElementById('sponsorContactEmail').innerHTML = "<%= sponsorDetails[0].SponsorContactEmail %>";
    document.getElementById('sponsorContactTelephone').innerHTML = "<%= sponsorDetails[0].SponsorContactTelephone %>";
//    document.getElementById('sponsorContactInfoPreview').innerHTML = formatContactInfo();
    // Select Sponsor Types from the Sponsor's data
    var sponsorTypes = "<%- sponsorDetails[0].SponsorType %>";
    var sponsorTypesArrTrimmed = sponsorTypes.split('|').slice(1, -1);
    var sponsorTypesSelectObject = document.getElementById('sponsorTypes');
    if ( sponsorTypesArrTrimmed.length !== 0 ) {
      sponsorTypesSelectObject.options[0].selected = '';  // Remove the default 'Not Selected' option
      sponsorTypesArrTrimmed.forEach( function(sponsorType) {
        for ( i=0; i < sponsorTypesSelectObject.length; i++ ) {
          if ( sponsorTypesSelectObject.options[i].value === sponsorType ) {
            sponsorTypesSelectObject.options[i].selected = 'selected';
          }
        }
      });
    };

    // Disable the controls if the user is not an FoA Admin
    if ( <%- !userIsDataAdmin %> ) {
      document.getElementById('sponsorStatus').disabled = true;
      document.getElementById('sponsorIsFeatured').disabled = true;
    };

    // Disable the controls (and change the instruction) if the user does not have permission to update Sponsors.
    if ( <%- !userCanUpdateSponsor %> ) {
      document.getElementById('sponsorInstructions').innerText = "Review the entries below.";
      document.getElementById('sponsorIsFeatured').disabled = true;
      document.getElementById('sponsorStatus').disabled = true;
      document.getElementById('sponsorName').disabled = true;
      document.getElementById('sponsorDescription').disabled = true;
      document.getElementById('sponsorWebsite').disabled = true;
      document.getElementById('sponsorLogo').disabled = true;
      document.getElementById('sponsorContactFName').disabled = true;
      document.getElementById('sponsorContactLName').disabled = true;
      document.getElementById('sponsorContactEmail').disabled = true;
      document.getElementById('sponsorContactTelephone').disabled = true;
      document.getElementById('sponsorTypes').disabled = true;
    };

  <% } %>


  /////////////////////////////////////////////////////////////////////////////////////////////
  // Keep the "Preview" tab sync-ed with the "Edit" tab
  /////////////////////////////////////////////////////////////////////////////////////////////
  function updatePreview() {
//    document.getElementById("sponsorLogoPreview").src = document.getElementById("sponsorLogo").value;
//    document.getElementById('sponsorNamePreview').innerHTML = document.getElementById("sponsorName").value;
//    document.getElementById('sponsorDescriptionPreview').innerHTML = document.getElementById("sponsorDescription").value;
//    document.getElementById('sponsorWebsitePreview').innerHTML = document.getElementById("sponsorWebsite").value;
//    document.getElementById('sponsorWebsitePreview').href = document.getElementById("sponsorWebsite").value;
//    document.getElementById('sponsorContactInfoPreview').innerHTML = formatContactInfo();
  }


  //////////////////////////////////////////////////////////////////////
  // Validate the data before submitting the form
  //////////////////////////////////////////////////////////////////////
  function validateData() {
    var dataAreValid = true;  // test for errors below

    //////////////////////////////////////////////////
    // Sponsor Status
    //////////////////////////////////////////////////
    var sponsorStatus = document.getElementById("sponsorStatus").value;
    var sponsorStatusErrors = document.getElementById("sponsorStatusErrors");
    sponsorStatusErrors.innerText = '';  // reset value
    if ( sponsorStatus.length === 0 || sponsorStatus == '0') {
      sponsorStatusErrors.innerText = "Sponsor Active Status cannot be blank.";
    };
    if ( sponsorStatusErrors.innerText.length === 0 ) {  // if no errors, hide the error text
      sponsorStatusErrors.style.display = "none";
    } else {
      sponsorStatusErrors.style.display = "block";
      dataAreValid = false;
    };

    //////////////////////////////////////////////////
    // Sponsor Name
    //////////////////////////////////////////////////
    var sponsorName = document.getElementById("sponsorName").value;
    var sponsorNameErrors = document.getElementById("sponsorNameErrors");
    sponsorNameErrors.innerText = '';  // reset value
    if ( sponsorName.length === 0 ) {
      sponsorNameErrors.innerText = "Sponsor Name cannot be blank.";
    };
    if ( sponsorNameErrors.innerText.length === 0 ) {  // if no errors, add the sponsor
      sponsorNameErrors.style.display = "none";
    } else {
      sponsorNameErrors.style.display = "block";
      dataAreValid = false;
    };

    //////////////////////////////////////////////////
    // Sponsor Description
    //////////////////////////////////////////////////
    var sponsorDescription = document.getElementById("sponsorDescription").value;
    var sponsorDescriptionErrors = document.getElementById("sponsorDescriptionErrors");
    sponsorDescriptionErrors.innerText = '';  // reset value
    if ( sponsorDescription.length === 0 ) {
      sponsorDescriptionErrors.innerText = "Sponsor Description cannot be blank.";
    };
    if ( sponsorDescriptionErrors.innerText.length === 0 ) {  // if no errors, add the sponsor
      sponsorDescriptionErrors.style.display = "none";
    } else {
      sponsorDescriptionErrors.style.display = "block";
      dataAreValid = false;
    };

    //////////////////////////////////////////////////
    // Sponsor Logo
    //////////////////////////////////////////////////
    var sponsorLogo = document.getElementById("sponsorLogo").value;
    var sponsorLogoErrors = document.getElementById("sponsorLogoErrors");
    sponsorLogoErrors.innerText = '';  // reset value
    if ( sponsorLogo.length === 0 ) {
      sponsorLogoErrors.innerText = "Sponsor Logo cannot be blank.";
    };
    if ( sponsorLogoErrors.innerText.length === 0 ) {  // if no errors, add the sponsor
      sponsorLogoErrors.style.display = "none";
    } else {
      sponsorLogoErrors.style.display = "block";
      dataAreValid = false;
    };

    //////////////////////////////////////////////////
    // Sponsor Contact First Name
    //////////////////////////////////////////////////
    // var sponsorContactFName = document.getElementById("sponsorContactFName").value;
    // var sponsorContactFNameErrors = document.getElementById("sponsorContactFNameErrors");
    // sponsorContactFNameErrors.innerText = '';  // reset value
    // if ( sponsorContactFName.length === 0 ) {
    //   sponsorContactFNameErrors.innerText = "Sponsor Contact First Name cannot be blank.";
    // };
    // if ( sponsorContactFNameErrors.innerText.length === 0 ) {  // if no errors, add the sponsor
    //   sponsorContactFNameErrors.style.display = "none";
    // } else {
    //   sponsorContactFNameErrors.style.display = "block";
    //   dataAreValid = false;
    // };

    //////////////////////////////////////////////////
    // Sponsor Contact Last Name
    //////////////////////////////////////////////////
    // var sponsorContactLName = document.getElementById("sponsorContactLName").value;
    // var sponsorContactLNameErrors = document.getElementById("sponsorContactLNameErrors");
    // sponsorContactLNameErrors.innerText = '';  // reset value
    // if ( sponsorContactLName.length === 0 ) {
    //   sponsorContactLNameErrors.innerText = "Sponsor Contact Last Name cannot be blank.";
    // };
    // if ( sponsorContactLNameErrors.innerText.length === 0 ) {  // if no errors, add the sponsor
    //   sponsorContactLNameErrors.style.display = "none";
    // } else {
    //   sponsorContactLNameErrors.style.display = "block";
    //   dataAreValid = false;
    // };

    //////////////////////////////////////////////////
    // Sponsor Contact Email
    //////////////////////////////////////////////////
    var sponsorContactEmail = document.getElementById("sponsorContactEmail").value;
    var sponsorContactEmailErrors = document.getElementById("sponsorContactEmailErrors");
    sponsorContactEmailErrors.innerText = '';  // reset value
    // Email cannot be blank
    if ( sponsorContactEmail.length === 0 ) {
      sponsorContactEmailErrors.innerText += "Sponsor Contact Email cannot be blank. ";
    } else
      // Email must be properly formatted
      if ( !/[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/.test(sponsorContactEmail) ) {
        sponsorContactEmailErrors.innerText += "Sponsor Contact Email must be a proper email address. ";
      };
    // Were errors found?
    if ( sponsorContactEmailErrors.innerText.length === 0 ) {  // if no errors, add the sponsor
      sponsorContactEmailErrors.style.display = "none";
    } else {
      sponsorContactEmailErrors.style.display = "block";
      dataAreValid = false;
    };

    //////////////////////////////////////////////////
    // Sponsor Types
    //////////////////////////////////////////////////
    var sponsorTypes = Array.from(document.getElementById("sponsorTypes").selectedOptions).map(v=>v.value);
    var sponsorTypesFormatted = convertOptionsToDelimitedString(sponsorTypes, "|", "0");
//    alert(sponsorTypesFormatted);
    var sponsorTypesErrors = document.getElementById("sponsorTypesErrors");
    sponsorTypesErrors.innerText = '';  // reset value
    if ( sponsorTypesFormatted === '||' ) {
      sponsorTypesErrors.innerText = "At least one Sponsor Type must be selected.";
    };
    if ( sponsorTypesErrors.innerText.length === 0 ) {  // if no errors, add the sponsor
      sponsorTypesErrors.style.display = "none";
    } else {
      sponsorTypesErrors.style.display = "block";
      dataAreValid = false;
    };

    //////////////////////////////////////////////////
    // If no errors, add the Sponsor
    //////////////////////////////////////////////////
    return dataAreValid;

  } // END: Validate Data


  //////////////////////////////////////////////////////////////////////
  // Confirm the user wants to delete this Sponsor, and process accordingly
  //////////////////////////////////////////////////////////////////////
  function deleteSponsor() {
    var answer = confirm('Are you sure you want to delete this Sponsor?');
    if (answer !== true) {
      return false;
    };
  };  // END: Confirm delete Sponsor


  //////////////////////////////////////////////////////////////////////
  // Format the Sponsor Contact Information for "preview" display
  //////////////////////////////////////////////////////////////////////
  function formatContactInfo() {

    // get the current values
    var contactFName = document.getElementById("sponsorContactFName").value;
    var contactLName = document.getElementById("sponsorContactLName").value;
    var contactEmail = document.getElementById("sponsorContactEmail").value;
    var contactTelephone = document.getElementById("sponsorContactTelephone").value;

    // format them for display in the "Contact Info" section of the Search Results
    var contactInfoFormatted = "";
    if ( contactFName.length > 0 ) {
      contactInfoFormatted = contactFName + " ";
    };
    if ( contactLName.length > 0 ) {
      contactInfoFormatted += contactLName;
    };
    if ( contactEmail.length > 0 ) {
      if ( contactInfoFormatted.length > 0 ) {
        contactInfoFormatted += "<br>";
      };
      contactInfoFormatted += contactEmail;
    };
    if ( contactTelephone.length > 0 ) {
      if ( contactInfoFormatted.length > 0 ) {
        contactInfoFormatted += "<br>";
      };
      contactInfoFormatted += contactTelephone;
    };
    return contactInfoFormatted;
  };  // END: Format Sponsor Contact Name

</script>