<div class="col-9 bodylayout1col2-datamgmt" id="scholarshipsearchresultscolumn">
    <span class="bodylayout1col2title">
      <label class="data-mgmt-col-title" id="userInstructions"></label></span><br>
    <hr class="bodycol2break">
    <label class="data-mgmt-instruction">&nbsp;&nbsp;&nbsp;<span style="color: red;">*</span> indicates a required entry</label><br><br>

    <% if ( statusMessage !== '' ) { %>
      <div>
        <label id="statusMessage" class="form-status"><%= statusMessage %></label>
      </div>
      <% } %>
  
    <!-- The data entry form container -->
    <form action="/switchboard/useradd" method="POST" id="userData">

      <!-- If the form context is "Manage User" then provide the userID for reference -->
      <input type="hidden" id="userIDToUpdate" name="userIDToUpdate">

      <!-- User Login Name -->
      <div class="flexcontainer-datamgmt">
        <div class="row">
          <div class="col-3 data-mgmt-label">
            <label for="userLoginName" class="data-mgmt">User Login Name (Email):</label>
          </div>
          <div class="col-1 data-mgmt-required">
            <label for="userLoginName" class="data-mgmt-required">*</label>
          </div>
          <div class="col-8 data-mgmt-value">
            <input type="text" id="userLoginName" name="userLoginName" class="data-mgmt-text-short"><br>
            <span class="data-mgmt-error" id="userLoginNameErrors"></span>
          </div>
        </div>
      </div><br>

      <!-- User First Name -->
      <div class="flexcontainer-datamgmt">
        <div class="row">
          <div class="col-3 data-mgmt-label">
            <label for="userFName" class="data-mgmt">User First Name:</label>
          </div>
          <div class="col-1 data-mgmt-required">
            <label for="userFName" class="data-mgmt-required"></label>
          </div>
          <div class="col-8 data-mgmt-value">
            <input type="text" id="userFName" name="userFName" class="data-mgmt-text-short"><br>
            <span class="data-mgmt-error" id="userFNameErrors"></span>
          </div>
        </div>
      </div><br>

      <!-- User Last Name -->
      <div class="flexcontainer-datamgmt">
        <div class="row">
          <div class="col-3 data-mgmt-label">
            <label for="userLName" class="data-mgmt">User Last Name:</label>
          </div>
          <div class="col-1 data-mgmt-required">
            <label for="userLName" class="data-mgmt-required"></label>
          </div>
          <div class="col-8 data-mgmt-value">
            <input type="text" id="userLName" name="userLName" class="data-mgmt-text-short"><br>
            <span class="data-mgmt-error" id="userLNameErrors"></span>
          </div>
        </div>
      </div><br>

      <!-- User Telephone -->
      <div class="flexcontainer-datamgmt">
        <div class="row">
          <div class="col-3 data-mgmt-label">
            <label for="userTelephone" class="data-mgmt">User Telephone:</label>
          </div>
          <div class="col-1 data-mgmt-required">
            <label for="userTelephone" class="data-mgmt-required"></label>
          </div>
          <div class="col-8 data-mgmt-value">
            <input type="text" id="userTelephone" name="userTelephone" class="data-mgmt-text-short">
          </div>
        </div>
      </div><br>

    </form>
    <div><br>
      <% if ( actionRequested === 'adduser' ) { %>
        <button class="data-mgmt" form="userData" onclick="return validateData();">Add User</button>
      <% } %>
      <% if ( userID !== '' && userCanDeleteUser ) { %>
        <form form action="/switchboard/userdelete?_method=DELETE" method="POST" id="userDataDelete">
          <input type="hidden" id="userIDToDelete" name="userIDToDelete" value="<%- userDetails[0].UserID %>">
        </form>
      <% } %>
      <% if ( userID !== '' && userCanUpdateUser ) { %>
        <button class="data-mgmt" form="userData" onclick="return validateData();">Save Changes</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <% } %>
      <% if ( userID !== '' && userCanDeleteUser ) { %>
        <button class="data-mgmt" form="userDataDelete" onclick=" return deleteUser();">Delete This User</button>
      <% } %>
    </div><br><br>

<script>

  // Customize the page based on the context ("Add User" v. "Manage User")
  <% if ( actionRequested === 'adduser' ) { %>  // "Add User"

    // Set the browser tab name (i.e., title)
    document.title = "Future of Aviation - Add User";
    // Set the page title
    document.getElementById("pageTitle").innerText = "Switchboard - Add User";
    // Set the instructions
    document.getElementById('userInstructions').innerText = "Add the information for the new User below, and click 'Add User'.";

  <% } else if ( userID !== '' ) { %>  // "Read/Update/Delete User"

    // Set the browser tab name (i.e., title)
    document.title = "Future of Aviation - Manage User";
    // Set the page title
    document.getElementById("pageTitle").innerText = "Switchboard - Manage User";
    // Set the instructions
    document.getElementById('userInstructions').innerText = "Edit the entries below, and click 'Save Changes'.";
    // Set the form submittal configuration
    document.getElementById('userData').action = "/switchboard/userupdate?_method=PUT";
    document.getElementById('userData').method = "POST";
    // Set the current values for the User data elements
    document.getElementById('userIDToUpdate').value = "<%- userDetails[0].UserID %>";
    document.getElementById('userLoginName').value = "<%= userDetails[0].Username %>";
    document.getElementById('userFName').value = "<%= userDetails[0].UserFName %>";
    document.getElementById('userLName').value = "<%= userDetails[0].UserLName %>";
    document.getElementById('userTelephone').value = "<%= userDetails[0].UserTelephone %>";
    // Disable the controls (and change the instruction) if the user does not have permission to update Users.
    if ( <%- !userCanUpdateUser %> ) {
      document.getElementById('userInstructions').innerText = "Review the entries below.";
      document.getElementById('userLoginName').disabled = true;
      document.getElementById('userFName').disabled = true;
      document.getElementById('userLName').disabled = true;
      document.getElementById('userTelephone').disabled = true;
    };

  <% } %>

  //////////////////////////////////////////////////////////////////////
  // Validate the data before submitting the form
  //////////////////////////////////////////////////////////////////////
  function validateData() {
    var dataAreValid = true;  // test for errors below

    //////////////////////////////////////////////////
    // User Login Name
    //////////////////////////////////////////////////
    var userLoginName = document.getElementById("userLoginName").value;
    var userLoginNameErrors = document.getElementById("userLoginNameErrors");
    userLoginNameErrors.innerText = '';  // reset value
    if ( userLoginName.length === 0 ) {
      userLoginNameErrors.innerText = "User Login Name cannot be blank.";
    };
    if ( userLoginNameErrors.innerText.length === 0 ) {  // if no errors, add the sponsor
      userLoginNameErrors.style.display = "none";
    } else {
      userLoginNameErrors.style.display = "block";
      dataAreValid = false;
    };

    //////////////////////////////////////////////////
    // If no errors, add the User
    //////////////////////////////////////////////////
    return dataAreValid;

  }

  // Confirm the user wants to delete this User, and process accordingly
  function deleteUser() {
    var answer = confirm('Are you sure you want to delete this User?');
    if (answer !== true) {
      return false;
    };
  };

</script>