<% layout('layouts/boilerplate') %>
<%- include('partials/splashbar_main') %>

<!-- Custom Script Libraries -->
<script src="/js/common_fx_client.js"></script>
<script src="/js/foa_fx_search_generic_client.js"></script>
<script src="/js/foa_fx_search_scholarships.js"></script>

<!-- Set the page title -->
<div class="container pagetitle">
  Find a Scholarship
  <hr class="pagetitlebreak">
</div>

<!-- Flex Grid for Body -->
<div class="container">
  <!-- Search Options -->
  <div class="row">
    <div id="panel_body_left" class="col-3 bodylayout1col1">
      <%- include('partials/scholarshipsearchcriteria') %>
    </div>
    <div id="panel_body_right" class="col-9 bodylayout1col2">
      <div id="searchresultsmaintitle">
        <span class="bodylayout1col2title" id="searchResultsTitle">Enter criteria and click "Search"</span><br>
        <hr class="bodycol2break">
      </div>
      <div id="panel_search_results">
      </div>
    </div>
  </div>
</div>

<script>

alert("window.devicePixelRatio: " + window.devicePixelRatio);

  // Local variables
  var spnRows = <%- JSON.stringify(sponsorsActiveView.rows) %>;
  var schRows = <%- JSON.stringify(scholarshipsMatching.rows) %>;
  var scholarshipsAllOrMatched = <%- JSON.stringify(scholarshipsAllOrMatched) %>;

  // If the screen size is "small" and a search was performed, collapse the Search Criteria panel
  if ( window.innerWidth < 768 ) { // collapse the hamburger menu by default
    console.log(`scholarshipsAllOrMatched: ${scholarshipsAllOrMatched}`);
    if ( scholarshipsAllOrMatched == 'matched' ) {
      toggleBlockShowHide(
        document.querySelector('#searchPanelCriteriaBlockIcon'),
        document.querySelector('#searchPanelCriteriaBlock'), '', 'hide',
        'fa-angle-double-up', 'fa-angle-double-down');
    };
  };

  // Display the scholarships (all, matched, or none)
  showSelectedScholarships(schRows, spnRows, scholarshipsAllOrMatched);

</script>