<% layout('layouts/boilerplate') %>
<%- include('partials/splashbar_switchboard') %>

<div class="container pagetitle">
  <div id="pageTitle">Switchboard</div>
  <hr class="pagetitlebreak">
</div>

<!-- Flex Grid for Body -->
<div class="container">

  <!-- 1st Row of Main Body -->
  <div class="row">

    <!-- Left-hand Panel: Main Content Menu -->
    <%- include('partials/menu_main') %>

    <!-- Right-hand Panel: Content -->
    <% if ( errorCode !== 0 ) { %>
      <%- include('partials/switchboard_error') %>
    <% } else if ( actionRequested === 'addsponsor' ) { %>
      <%- include('partials/sponsor_crud') %>
    <% } else if ( actionRequested === 'editsponsor' && sponsorID !== '' ) { %>
      <%- include('partials/sponsor_crud_tabs') %>
    <% } else if ( actionRequested === 'addscholarship' && sponsorID !== '' ) { %>
      <%- include('partials/scholarship_crud') %>
    <% } else if ( actionRequested === 'editscholarship' && scholarshipID !== '' ) { %>
      <%- include('partials/scholarship_crud_tabs') %>
    <% } else if ( actionRequested === 'adduser' ) { %>
      <%- include('partials/user_crud') %>
    <% } else if ( actionRequested === 'edituser' && userID !== '' ) { %>
      <%- include('partials/user_crud') %>
    <% } else if ( actionRequested === 'adduserpermission' ) { %>
      <%- include('partials/userpermission_crud') %>
    <% } else if ( actionRequested === 'edituserpermission' && userPermissionID !== '' ) { %>
      <%- include('partials/userpermission_crud') %>
    <% } else { %>
      <%- include('partials/switchboard_home') %>
    <% } %>
  </div>    <!-- End row 1 DIV     -->

  <!-- 2nd Row of Main Body -->
  <div class="row">
    <div id="switchboardsidemenu_footer" class="col-3 bodylayout1col1"></div>
    <div id="scholarshipsearchresultscolumn_footer" class="col-9 bodylayout1col2">
      <hr class="bodycol2break">
    </div>
  </div>    <!-- End row 2 DIV     -->

</div>      <!-- End container DIV -->